<div class="d-flex flex-row justify-content-center align-items-center mt-4">
    <h5 class="p-0 m-0"><%= t('want_to_join_the_discussion') %> ?</h5>
    <a href="<%= new_user_registration_path %>" class="btn forum-primary-btn mx-2"><%= t('create_account') %></a>
    <a href="<%= new_user_session_path %>" class="btn green-outline-btn"><%= t('login') %></a>
</div>
